In [1]:
import pandas as pd
df = pd.read_csv('/Users/svesh1971/Downloads/adult.data.csv', sep = ',')
df.head()

/var/folders/s9/ng4wly3d6z51mhb_6l82h_8m0000gn/T/ipykernel_4945/2104723938.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

* How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [2]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

* What is the average age of men?

In [3]:
df.loc[df['sex'] == 'Male', 'age'].mean()

39.43354749885268

* What is the percentage of people who have a Bachelor's degree?

In [5]:
len(df[df['education'] == 'Bachelors']) / len(df['education']) * 100

16.44605509658794

* What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [10]:
len(df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate') & (df['salary'] == ">50K")]) / len(df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]) * 100

98.5716192764651

* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [11]:
len(df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')]) / len(df[df['salary'] == '>50K'])*100

0.025506950644050504

* What country has the highest percentage of people that earn >50K?

In [29]:
df_s = df[df['salary'] == '>50K']

(df_s.groupby('native-country')['salary'].size() / len(df_s['native-country']))*100

native-country
?                      1.862007
Cambodia               0.089274
Canada                 0.497386
China                  0.255070
Columbia               0.025507
Cuba                   0.318837
Dominican-Republic     0.025507
Ecuador                0.051014
El-Salvador            0.114781
England                0.382604
France                 0.153042
Germany                0.561153
Greece                 0.102028
Guatemala              0.038260
Haiti                  0.051014
Honduras               0.012753
Hong                   0.076521
Hungary                0.038260
India                  0.510139
Iran                   0.229563
Ireland                0.063767
Italy                  0.318837
Jamaica                0.127535
Japan                  0.306083
Laos                   0.025507
Mexico                 0.420865
Nicaragua              0.025507
Peru                   0.025507
Philippines            0.777962
Poland                 0.153042
Portugal               0.051014
Puerto-Rico            0.153042
Scotland               0.038260
South                  0.204056
Taiwan                 0.255070
Thailand               0.038260
Trinadad&Tobago        0.025507
United-States         91.455172
Vietnam                0.063767
Yugoslavia             0.076521
Name: salary, dtype: float64

* Identify the most popular occupation for those who earn >50K in India.